%h1.padded.four.sixths.skip-one
  The Tiny Cat Blog

.posts.padded.four.sixths.skip-one
  - @posts.each do |post|
    %h2
      = post.title.html_safe
    .byline
      = post.author.name
    %p
      = post.body.html_safe
    %br
    %hr
    %br
