.blog_name {
  font-size: 2em;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: bold;
}
.post {
  margin-top: 1em;
  margin-bottom: 2em;

  .title {
    font-size: 3.2em;
    margin-bottom: 0;
  }

  .byline {
    font-size: 1em;
    color: #999;
    margin-bottom: 1.675em;
  }

  .post_body {
    margin-top: 0.34em;
    margin-bottom: 2em;
    font-size: 1.35em;
    line-height: 1.6em;

    h3 {
      margin-top: 1em;
      margin-bottom: 0.25em;
    }

    p {
      padding-top: 0.675em;
      line-height: 1.6em;
    }

    p + p {
      text-indent: 1em;
    }

    blockquote {
      font-size: 0.9em;
      font-style: italic;
      line-height: 1.0em;
      color: #444;
      padding: 1em;
      margin-top: 1em;
      margin-bottom: 1em;
      border-left:3px solid #999;
      background:#EFEFEF;
    }

    blockquote cite {
      font-size: 0.9em;
      display: block;
      margin-top: 1em;
      margin-bottom: 1em;
    }    

    blockquote cite:before {
      content: "\2014 \2009";
    }

    p {
      padding-top: 0;
    }
  }
}